.vim
!.vim/colors
!.vim/UltiSnips
.config/kak/autoload/core
.config/kak/autoload/plugins/*
.config/kak/colors/*
.config/qutebrowser/*
!.config/qutebrowser/autoconfig.yml
!.config/qutebrowser/config.py
*.cf/session
